@charset "UTF-8";

@media screen and (max-width: 700px) {
    #hamburguer-button{
        display: flex ; 
    }

    #navbar-links{
        display: none;
        width: 100%;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    #navbar-links li{
        text-align: center;
    }

    #navbar-links li a{
        padding: .5rem 1rem;
    }

    #navbar-links.active{
        display: flex;
        position: absolute;
        top: 3.1rem;
        background-color: #FCD684;
    }
}
@media screen and (min-width: 768px){
    /* section who is */
    #who-is .title{
        font-size: 4.5vw;
    }
    
    #main-square{
        padding-top: 20px;
    }
    #visit-btn{
        cursor: pointer;
    }

    /* section contatc */
    #contact{
        display: flex;
    }

    #social{
        width: 50%;
    }
    
    #location{
        width: 50%;
    }
    #cards{
        display: flex;
        justify-content: space-between;
    }
    .differencial-card{
        width: 30vw;
    }
    #social-list li a img{
        width: 85px;
        border-radius: 20px;
        background-color: #FE84B1;
        padding: 15px;
    }
    #social-list{
        margin-top: 60px;
    }
}